name: pre-commit
on:
  push:
    branches: [develop]
jobs:
  pre-commit:
    runs-on: ubuntu-latest
    steps:
    - uses: actions/checkout@v3
    - uses: actions/setup-python@v3
    - name: Install pre-commit
      run: |
        pip install pre-commit
    - name: Install requirements
      run: |
        pip install -r requirements.txt
    - uses: pre-commit/action@v3.0.0
    - name: Coverage
      run: |
        coverage run -m pytest
        coverage report -m
        coverage xml